html{
  background-color: white;
  min-height: 100vh;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  margin-left: 2rem;
  padding-bottom: 10rem;
}

.my{
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
}

hr{
  color: black;
  margin-right: 2rem;
}

.networks{
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  margin-right: 2rem;
  margin-top: 2rem;
}

.btn-networks{
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-networks:hover {
  transform: translateY(8px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Projects section */
.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 2rem;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card__category{
  color: black;
  text-align: center;
  line-height: 1.4;
  font-size: 17px;
  font-weight: 400;
}

.card__heading{
  color: black;
  text-align: center;
  line-height: 1.4;
  font-size: 17px;
  font-weight: 400;
}

.card{
  list-style: none;
  position: relative;
}



/* Columns */
/*

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}


/*
.card__content{
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}









/* Show-all section */
.btn-show-all {
  padding-top: 5rem;
  font-size: 17px;
  text-align: left;
  font-weight: 400;
  margin-left: 2rem;
}

.btn-show-all {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover {
  transform: translateY(8px);
}



/* Footer */
h3{
  font-size: 17px;
  text-align: left;
  font-weight: 400;
  padding-bottom: 10rem;
}

.reserved{
  font-size: 14px;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
  padding-bottom: auto;
  font-weight: 400;
}




