* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
}

@media (min-width: 1400px) {
  html {
    width: 90% !important;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  html {
    width: 75% !important;
    margin: 0 auto;
  }
}

.mobile,
html {
  width: 100%;
}


/* start of the menu */
header {
  margin: 100px;
}


i#burguer{
  color: black;
  display: block;
  text-align: right;
  padding: 10px;
  cursor: pointer;
}

i#burguer:hover{
  color: black;
}

.material-symbols-outlined{
  font-weight: 400;
  font-size: 4rem;
}

.style-itens{
  font-weight: 500;
  font-size: 5rem;
  line-height: 120px;
  width: 100%;
  text-align: center;
}
/* End of hamburger */


h1 {
  font-weight: 500;
  font-size: 5rem;
  text-align: center;
  padding-top: 5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}









/* Projects section */




/* Show-all */
.btn-show-all {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.btn-show-all:hover {
  transform: translateY(8px);
}







/* Contact section */
h2 {
  font-weight: 500;
  font-size: 5rem;
  text-align: center;
}


.contact-section {
  text-align: center;
  height: 40vh;
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-section:hover {
  transform: translateY(8px);
}

.work-together {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}


/* Footer */
footer>p {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;

}

